body {
  background: #07021d;
  color: white;
  overflow-x: hidden;
}

p.lead {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: large;
}

.lead-custom {
  font-weight: bold;
  font-size: larger;
  line-height: 250%;
}

.navbar-custom { 
  border-bottom: rgb(255, 123, 0, 0.8) 3px solid;
  font-weight: 400;
  background-color: rgb(22, 15, 63); 
} 

hr {
  border: 0;
  border-top: 1px solid rgb(255, 123, 0, 0.8);
  width: 70%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

#name {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

#home-heading {
  min-height: 180px;
  position: relative;
  background: url(../img/clouds.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

#graphisme-heading {
  position: relative;
  min-height: 150px;
  background: url(../img/clouds.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#projects a {
  text-decoration: none;
}

#projects h3 {
  color: #bfc0ff;
}

#project-image {
  background: rgb(255, 255, 255);
}

#footer {
  background: rgb(22, 15, 63);
  color: lightgrey;
}

.ekko-lightbox-container {
  background: #121212;
}

@media (max-width: 575.98px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    #graphisme-heading {
      min-height: 140px;
    }

    .contact-icons {
      font-size: 20px;
      margin-left: -15px;
    }

    #name {
      font-size: 20px;
    }

}

@media (min-width: 576px) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  #home-heading {
    min-height: 200px;
  }

  #graphisme-heading {
    min-height: 150px;
  }

  .contact-icons {
    font-size: 40px;
  }

  #name {
    font-size: 30px;
  }

}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    #home-heading {
      min-height: 250px;
    }

    .contact-icons {
      font-size: 50px;
    }

    #name {
      font-size: 50px;
    }

}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    #home-heading {
      min-height: 300px;
    }

    .contact-icons {
      font-size: 85px;
    }

    #name {
      font-size: 70px;
    }


}


