#projects-header {
  background-color: rgb(27, 85, 139);
  color: white;
}

#home-header {
  background-color: rgb(24, 145, 70);
  color: white;
}

hr {
  border: 0;
  border-top: 3px solid rgb(27, 85, 139);
  width: 70%;
}

.slick-prev:before {
  color: #333;
}
.slick-next:before {
  color: #333;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}